.m-aboutUs {

  &.-why {
    @include media-down(l) {
      margin-bottom: 120px !important;
    }
  }

  &__image {
    min-height: 400px;
    background-size: cover;
    background-position: center;
    position: relative;

    @include media-up(m) {
      min-height: 600px;
    }

    .-why & {
      @include media-down(l) {
        min-height: 300px;
      }
    }

    &.-bigger {
      @include media-up(m) {
        min-height: 700px;
      }
    }

    &::before {
      content: "";
      position: absolute;
      top: 15px;
      left: 15px;
      width: 60px;
      height: 60px;
      border-top: 7px solid $yellow;
      border-left: 7px solid $yellow;
      z-index: 1;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 15px;
      right: 15px;
      width: 60px;
      height: 60px;
      border-bottom: 7px solid $yellow;
      border-right: 7px solid $yellow;
    }

    .corner {
      position: absolute;
      width: 60px;
      height: 60px;
      z-index: 1;
    }

    .top-right {
      top: 15px;
      right: 15px;
      border-top: 7px solid $yellow;
      border-right: 7px solid $yellow;
    }

    .bottom-left {
      bottom: 15px;
      left: 15px;
      border-bottom: 7px solid $yellow;
      border-left: 7px solid $yellow;
    }

    &--whiteBox {
      background-color: $white;
      position: absolute;
      top: 0;
      right: 0;
      padding: 20px;
      display: inline-block;
      text-align: center;
      box-shadow: 0px 6px 11px 0px rgba(0, 0, 0, 0.15);
      z-index: 1;

      .-why & {
        top: unset;
        bottom: -60px;
        box-shadow: 0px 6px 11px 0px rgba(0, 0, 0, 0.15);
        left: 50%;
        transform: translateX(-50%);
      }

      @include media-up(m) {
        padding: 10px;
      }

      h1 {
        font-size: 40px;

        @include media-up(m) {
          font-size: 60px;
        }
      }

      p {
        text-transform: uppercase;
        font-weight: 600;
      }
    }

  }

  &__rightText {
    @include media-up(l) {
      width: 39%;
    }
  }


  .-second {
    min-height: 500px;

    @include media-down(l) {
      min-height: 300px;
    }

    &::after {
      border: 0;
    }

    &::before {
      border: 0;
    }
  }

  &__iconsBox {
    @include media-up(m) {
      border-top: 1px solid $gray-3;
    }

    .border-right {
      @include media-up(m) {
        border-right: 1px solid $gray-3;
      }
    }
  }


}


.corner {
  position: absolute;
  width: 60px;
  height: 60px;
  z-index: 1;
}

.top-right {
  top: 15px;
  right: 15px;
  border-top: 7px solid $yellow;
  border-right: 7px solid $yellow;
}

.bottom-left {
  bottom: 15px;
  left: 15px;
  border-bottom: 7px solid $yellow;
  border-left: 7px solid $yellow;
}

.top-left {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  width: 60px;
  height: 60px;
  border-top: 7px solid $yellow;
  border-left: 7px solid $yellow;
  z-index: 1;
}

.bottom-right {
  content: "";
  position: absolute;
  bottom: 15px;
  right: 15px;
  width: 60px;
  height: 60px;
  border-bottom: 7px solid $yellow;
  border-right: 7px solid $yellow;
}
