.m-contact {

  &__icon {
    min-width: 50px;
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__form {
    margin-top: 50px;

    input, label, textarea {
      width: 100%;
    }

    label {
      font-weight: 600;
      font-size: 14px;
      margin-bottom: 10px;
    }

    input, textarea {
      border: 1px solid transparent;
      background-color: #F5F5F5;
      outline: none;
      padding: 10px;
      transition: all ease-in .2s;
      margin-top: 5px;

      &:focus {
        border-color: $gray-5;
      }
    }

    .wpcf7-submit {
      background-color: $yellow;
      color: $gray-9;
      display: flex;
      width: auto;
      padding: 15px 30px;
      font-weight: 600;
      text-transform: uppercase;
      transition: all ease-in .2s;
      outline: none;

      &:hover {
        background-color: darken($yellow, 10%);
      }
    }

    .wpcf7-not-valid-tip {
      position: absolute;
      font-size: 11px;
    }
  }
}