.m-offers {
  padding: 70px 0;

  @include media-up(l) {
    padding: 100px 0;
  }

  &__item {
    background-color: $white;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.06),
    0 1px 3px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    height: 100%;
    position: relative;
    padding: 20px 20px 50px 20px;

    &:hover {
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.12),
      0 4px 6px rgba(0, 0, 0, 0.08);
    }

    a {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      background-color: $gray-9;
      padding: 10px;
      line-height: 1;
      text-transform: uppercase;
      width: 100%;
      color: $white;
      font-weight: 600;
      transition: all ease .2s;

      &:hover {
        background-color: $white;
        color: $black;
        text-decoration: underline;
      }
    }

    img {
      background-color: $gray-9;
      padding: 10px;
    }
  }
}